#custom-search-input {
	background: #e8e6e7 none repeat scroll 0 0;
	margin: 0;
	padding: 10px;
}
#custom-search-input .search-query {
	background: #fff none repeat scroll 0 0 !important;
	border-radius: 4px;
	height: 33px;
	margin-bottom: 0;
	padding-left: 7px;
	padding-right: 7px;
}
#custom-search-input button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 0 none;
	border-radius: 3px;
	color: #666666;
	left: auto;
	margin-bottom: 0;
	margin-top: 7px;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	z-index: 9999;
}
.search-query:focus + button {
	z-index: 3;
}
.all_conversation button {
	background: #f5f3f3 none repeat scroll 0 0;
	border: 1px solid #dddddd;
	height: 38px;
	text-align: left;
	width: 100%;
}
.all_conversation i {
	background: #e9e7e8 none repeat scroll 0 0;
	border-radius: 100px;
	color: #636363;
	font-size: 17px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.all_conversation .caret {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 15px;
	top: 0;
}
.all_conversation .dropdown-menu {
	background: #f5f3f3 none repeat scroll 0 0;
	border-radius: 0;
	margin-top: 0;
	padding: 0;
	width: 100%;
}
.all_conversation ul li {
	border-bottom: 1px solid #dddddd;
	line-height: normal;
	width: 100%;
}
.all_conversation ul li a:hover {
	background: #dddddd none repeat scroll 0 0;
	color:#333;
}
.all_conversation ul li a {
	color: #333;
	line-height: 30px;
	padding: 3px 20px;
}
.member_list .chat-body {
	margin-left: 47px;
	margin-top: 0;
}
.top_nav {
	overflow: visible;
}
.member_list .contact_sec {
	margin-top: 3px;
}
.member_list li {
	padding: 6px;
}
.member_list ul {
	border: 1px solid #dddddd;
}
.chat-img img {
	height: 34px;
	width: 34px;
}
.member_list li {
	border-bottom: 1px solid #dddddd;
	padding: 6px;
}
.member_list li:last-child {
	border-bottom:none;
}
.member_list {
	height: 380px;
	overflow-x: hidden;
	overflow-y: auto;
}
.sub_menu_ {
	background: #e8e6e7 none repeat scroll 0 0;
	left: 100%;
	max-width: 233px;
	position: absolute;
	width: 100%;
}
.sub_menu_ {
	background: #f5f3f3 none repeat scroll 0 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	display: none;
	left: 100%;
	margin-left: 0;
	max-width: 233px;
	position: absolute;
	top: 0;
	width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
	display: block;
}
.new_message_head button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
}
.new_message_head {
	background: #f5f3f3 none repeat scroll 0 0;
	float: left;
	font-size: 13px;
	font-weight: 600;
	padding: 18px 10px;
	width: 100%;
}
.message_section {
	border: 1px solid #dddddd;
}
.chat_area {
	float: left;
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}
.chat_area li {
	padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
	height: 40px;
	width: 40px;
}
.chat_area .chat-body1 {
	margin-left: 50px;
}
.chat-body1 p {
	background: #fbf9fa none repeat scroll 0 0;
	padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
	margin-left: 0;
	margin-right: 50px;
}
.chat_area li:last-child {
	padding-bottom: 10px;
}
.message_write {
	background: #f5f3f3 none repeat scroll 0 0;
	float: left;
	padding: 15px;
	width: 100%;
}

.message_write textarea.form-control {
	height: 70px;
	padding: 10px;
}
.chat_bottom {
	float: left;
	margin-top: 13px;
	width: 100%;
}
.upload_btn {
	color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
	float: left;
	width:100%;
}
.member_list li:hover {
	background: #428bca none repeat scroll 0 0;
	color: #fff;
	cursor:pointer;
}
.nice-select .list{
	max-height: 200px;
	overflow-y: scroll;
}
.chat-list{
	width: 75%;
}
.message_form{
	position: sticky;
	bottom: 0;
	width: 100%;
	z-index: 100;
}
/* GPT comment section */
.be-comment-block {
	margin-bottom: 50px !important;
	border: 1px solid #edeff2;
	border-radius: 2px;
	padding: 50px 70px;
	border:1px solid #ffffff;
}

.comments-title {
	font-size: 16px;
	color: #262626;
	margin-bottom: 15px;
	font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
	width: 60px;
	height: 60px;
	float: left;
	margin-bottom: 15px;
}

.be-ava-comment {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.be-comment-content {
	margin-left: 80px;
}

.be-comment-content span {
	display: inline-block;
	width: 49%;
	margin-bottom: 15px;
}

.be-comment-name {
	font-size: 13px;
	font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
	color: #383b43;
}

.be-comment-content span {
	display: inline-block;
	width: 49%;
	margin-bottom: 15px;
}

.be-comment-time {
	text-align: right;
}

.be-comment-time {
	font-size: 11px;
	color: #b4b7c1;
}

.be-comment-text {
	font-size: 13px;
	line-height: 18px;
	color: #7a8192;
	display: block;
	background: #f6f6f7;
	border: 1px solid #edeff2;
	padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
	position: absolute;
	top: 1px;
	left: 16px;
	width: 48px;
	height: 48px;
	background: #f6f6f7;
	color: #b5b8c2;
	text-align: center;
	line-height: 50px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.form-group .form-input {
	font-size: 13px;
	line-height: 50px;
	font-weight: 400;
	color: #b4b7c1;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #edeff2;
	border-radius: 3px;
}

.form-group.fl_icon .form-input {
	padding-left: 70px;
}

.form-group textarea.form-input {
	height: 150px;
}

/*--thank you pop starts here--*/
.thank-you-pop{
	width:100%;
	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
	margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
	margin-bottom: 27px;
	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
	margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
	margin: 0 auto;
	padding: 9px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	background-color: #8BC34A;
	border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
	border:0px;
}
/*--thank you pop ends here--*/
.modal-login {
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #999;
}
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	z-index: 9;
	background: #60c7c1;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login.modal-dialog {
	margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #45aba6 !important;
	outline: none;
}